@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v13-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v13-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v13-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bellefair-v15-latin-regular.woff2') format('woff2');
}
h1, h2, h3, h4{
    font-family: "Bellefair", serif;
}
p{
    font-family: "Barlow", sans-serif;
}
a, strong{
    font-family: "Barlow Condensed", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
  /* background-image: ; */
  height: 100vh;
}
.containers{
    max-width: 1150px;
    margin: 0 auto;
}