@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v13-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v13-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v13-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bellefair-v15-latin-regular.woff2') format('woff2');
}
h1, h2, h3, h4{
    font-family: "Bellefair", serif;
}
p{
    font-family: "Barlow", sans-serif;
}
a, strong{
    font-family: "Barlow Condensed", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
  height: 100vh;
  background-image: url(../images/header-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.containers{
    max-width: 1150px;
    margin: 0 auto;
  }
.header-wrapper{
  width: 830px;
  height: 66px;
  backdrop-filter: blur(81.54845428466797px)
}
main{
  color: white;
}
.section-titles{
    border-bottom: solid 2px wheat;
  }
.section-hero-wrapper{
  width: 379px;
  height: 34px;
}
.section-hero-title{
  font-size: 150px;
  width: 445px;
  height: 172px;
}
.section-hero-texts{
  width: 442px;
  height: 128px;
  padding-top: 24px;
}